<div id="main-menu-mobile" class="main-menu-mobile">
  <img src="{{'/images/logo/logo-white-full.png' | relative_url}}" class="logo-top">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      {% if !!item.children %}
        <div onclick="toggleSubMenu('{{item.id}}')">{{ item.name }}</div>
      {% endif %}

      {% if item.children == null %}
        <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      {% endif %}

    </li>
        {% for subitem in item.children %}
          <li class="{% if subitem.url == page.url %}active {% endif %}is-sub-menu child-{{item.id}}"
              style="display: none;">
            <a href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a>
          </li>
        {% endfor %}

    {% endfor %}
  </ul>
</div>
