---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
    <div>
      <h3>Psychotherapie, Coaching, Beratung - wozu und für wen?</h3>
      
      <ul>
        <li>
          Eine Psychotherapie eignet sich für alle, die unter psychischen oder emotionalen Problemen leiden. Während es also bei einer Psychotherapie darum geht, den vorhandenen Leidensdruck zu nehmen, Lebensumstände so zu ändern, dass ein gutes Leben möglich ist, LEBENSQUALITÄT sich verbessert -
        </li>
        <li>
          geht es beim Coaching mehr darum, innewohnende Fähigkeiten noch besser zu nutzen, Potential auszubauen. Coaching ist auch vielfach unter dem Begriff der PERSÖNLICHKEITSBILDUNG bekannt, wenngleich diese natürlich in allen Behandlungsformen passiert.
        </li>
        <li>
          In der Beratung geht es darum, Ihnen mögliche HANDLUNGSinstrumente bei Problematiken anzubieten
        </li>
      </ul>
        
      <p>
        ALLEN gemeinsam ist - den Wunsch zu verspüren, etwas verändern zu wollen
      </p>
      <p>
        Mit Ihnen hierzu auf die Suche zu gehen ist mir eine FREUDE!
      </p>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-2 pb-3 pt-md-4 pb-md-3">
    <div class="row justify-content-start">
      {% assign weighted_services = site.services | sort: "weight" %}
      {% for service in weighted_services %}
      <div class="col-12 col-md-6 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-2 pb-3 pt-md-2 pb-md-6">
    <h1 class="pb-1">Blog und Aktuelles</h1>
    <div class="row justify-content-start">
      {% assign weighted_blog = site.blogs | sort: "weight" %}
      {% for blog in weighted_blog %}
      <div class="col-12 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ blog.url | relative_url }}">{{ blog.title }}</a>
            </h2>
            <p>{{ blog.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
